name: "workflow-run"

on:
  workflow_run:
    types: [ "completed" ]
    workflows: [ "units-test" ]
  
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: ./
      id: duration
    - name: output
      run: |
        echo "The duration is ${{ steps.duration.outputs.duration }} long."
        echo "seconds: ${{ steps.duration.outputs.seconds }}"
        echo "milliseconds: ${{ steps.duration.outputs.milliseconds }}"
        echo "minutes: ${{ steps.duration.outputs.minutes }}"
        echo "hours: ${{ steps.duration.outputs.hours }}"
